<div id="proposal-<%= proposal.id %>-delegate-ui" class="button--vote-button">
<% if current_user %>
  <% if @lv_state.user_has_supported    # VOTED so disable delegation UI %>
    <%= content_tag :button, t("decidim.proposals.proposals.delegate_button.delegate"), class: "button #{vote_button_classes(from_proposals_list)} disabled", disabled: true %>
  <% elsif @lv_state.delegate_email     # NOT VOTED BUT DELEGATED so present undelegation UI -%>
    <%= t("decidim.proposals.proposals.delegation_ui.to") %>: <br>
    <strong><%= Decidim::User.find_by(email: @lv_state.delegate_email).name %></strong>.
    <%= action_authorized_button_to(
      :undelegate,
      "#{proposal_path(proposal)}/delegations",
      resource: proposal,
      method: :delete,
      remote: true,
      params: {
        delegate_email: @lv_state.delegate_email,
        proposal_id: proposal.id,
      },
      data: {
        disable: true,
        "redirect-url": proposal_path(proposal)
      },
      class: "button #{vote_button_classes(from_proposals_list)}",
    ) do %>
      <%= t("decidim.proposals.proposals.delegate_button.withdraw") %>
      <span class="show-for-sr"><%= decidim_html_escape(present(proposal).title) %></span>
    <% end %>
  <% else                               # NOT VOTED NOT DELEGATED so present delegation UI %>
    <%= t("decidim.proposals.proposals.delegation_ui.intro") %>: <br>
    <form action=<%= "#{proposal_path(proposal)}/delegations" %> method="POST" data-remote="true">
      <select name="delegate_email">
      <% (Decidim::User.where(admin: false).order(:name).pluck(:email, :name).unshift(["", "(choose delegate)"])).each do |email, name| %>
        <option value="<%= email %>"><%= name -%></option>
      <% end %>
      </select>
      <%= action_authorized_button_to(
        :delegate,
        "overridden-by-form-action",
        resource: proposal,
        remote: true,
        params: {
          proposal_id: proposal.id,
        },
        data: {
          disable: true,
          "redirect-url": proposal_path(proposal)
        },
        class: "button #{vote_button_classes(from_proposals_list)}",
      ) do %>
        <%= t("decidim.proposals.proposals.delegate_button.delegate") %>
        <span class="show-for-sr"><%= decidim_html_escape(present(proposal).title) %></span>
      <% end %>
    </form>
  <% end -%>
<% end -%>
</div>
