<div id="proposal-<%= proposal.id %>-delegate-ui" class="button--vote-button">
<% if current_user %>
  <% if api_state.user_has_supported    # VOTED so disable delegation UI %>
    <%= content_tag :button, t("decidim.liquidvoting.delegation.delegate"), class: "button #{vote_button_classes(from_proposals_list)} disabled", disabled: true %>
  <% elsif api_state.delegate_id     # NOT VOTED BUT DELEGATED so present undelegation UI -%>
    <%= t("decidim.liquidvoting.delegation.to") %>: <br>
    <strong><%= Decidim::User.find(api_state.delegate_id).name %></strong>.
    <%= action_authorized_button_to(
      :undelegate,
      "#{proposal_path(proposal)}/delegations",
      resource: proposal,
      method: :delete,
      remote: true,
      params: {
        delegate_id: api_state.delegate_id,
        proposal_id: proposal.id,
      },
      data: {
        disable: true,
        "redirect-url": proposal_path(proposal)
      },
      class: "button #{vote_button_classes(from_proposals_list)}",
    ) do %>
      <%= t("decidim.liquidvoting.delegation.withdraw") %>
      <span class="show-for-sr"><%= decidim_html_escape(present(proposal).title) %></span>
    <% end %>
  <% else                               # NOT VOTED NOT DELEGATED so present delegation UI %>
    <%= t("decidim.liquidvoting.delegation.intro") %>: <br>
    <form action=<%= "#{proposal_path(proposal)}/delegations" %> method="POST" data-remote="true">
      <select name="delegate_id">
      <%
        potential_delegates = Decidim::User.where(admin: false)
        default_select = t("decidim.liquidvoting.delegation.default_select")
        (potential_delegates.order(:name).pluck(:id, :name).unshift(["", "#{default_select}"])).each do |id, name|
      %>
        <option value="<%= id %>"><%= name -%></option>
      <% end %>
      </select>
      <%= action_authorized_button_to(
        :delegate,
        "overridden-by-form-action",
        resource: proposal,
        remote: true,
        params: {
          proposal_id: proposal.id,
        },
        data: {
          disable: true,
          "redirect-url": proposal_path(proposal)
        },
        class: "button #{vote_button_classes(from_proposals_list)}",
      ) do %>
        <%= t("decidim.liquidvoting.delegation.delegate") %>
        <span class="show-for-sr"><%= decidim_html_escape(present(proposal).title) %></span>
      <% end %>
    </form>
  <% end -%>
<% end -%>
</div>
