<div id="proposal-<%= proposal.id %>-delegate-ui" class="button--vote-button">
<% if current_user %>
  <!-- TODO: send ajax requests instead -->
  <% if @lv_state.user_has_voted        # VOTED so disable delegation UI %>
    <%= content_tag :button, t("decidim.proposals.proposals.delegate_button.delegate"), class: "button #{vote_button_classes(from_proposals_list)} disabled", disabled: true %>
  <% elsif @lv_state.delegate_email     # NOT VOTED BUT DELEGATED so present undelegation UI -%>
    <form action="/liquidvoting/processes/praesentium-rerum/f/3/proposals/7/delegations" method="POST" data-remote="true">
      You delegated to: <br>
      <%= Decidim::User.find_by(email: @lv_state.delegate_email).name %>.
      <%= action_authorized_button_to(
        :undelegate,
        "overridden-by-form-action",
        resource: proposal,
        method: :delete,
        remote: true,
        params: {
          delegator_email: current_user.email,
          delegate_email: @lv_state.delegate_email,
          proposal_url: proposal_url(proposal),
          proposal_id: proposal.id,
        },
        data: {
          disable: true,
          "redirect-url": proposal_path(proposal)
        },
        class: "button #{vote_button_classes(from_proposals_list)}",
      ) do %>
        <%= t("decidim.proposals.proposals.delegate_button.withdraw") %>
        <span class="show-for-sr"><%= decidim_html_escape(present(proposal).title) %></span>
      <% end %>
    </form>
  <% else                               # NOT VOTED NOT DELEGATED so present delegation UI %>
    <form action="/liquidvoting/processes/praesentium-rerum/f/3/proposals/7/delegations" method="POST" data-remote="true">
      <select name="delegate_email">
      <% (Decidim::User.where(admin: false).order(:name).pluck(:email, :name).unshift(["", "(choose delegate)"])).each do |email, name| %>
        <option value="<%= email %>"><%= name -%></option>
      <% end %>
      </select>
      <%= action_authorized_button_to(
        :delegate,
        "overridden-by-form-action",
        resource: proposal,
        remote: true,
        params: {
          delegator_email: current_user.email,
          proposal_url: proposal_url(proposal),
          proposal_id: proposal.id,
        },
        data: {
          disable: true,
          "redirect-url": proposal_path(proposal)
        },
        class: "button #{vote_button_classes(from_proposals_list)}",
      ) do %>
        <%= t("decidim.proposals.proposals.delegate_button.delegate") %>
        <span class="show-for-sr"><%= decidim_html_escape(present(proposal).title) %></span>
      <% end %>
    </form>
  <% end -%>
<% end -%>
</div>
