<h2 class="card-title process-title-summary">
  <%= t ".title" %>
</h2>

<%= form_for @delegation, url: { action: "create" }, html: { class: "form new_delegation" } do |f| %>
  <div class="card">
    <div class="card-divider">
      <h2 class="card-title"><%= t ".form.title" %></h2>
    </div>

    <div class="card-section">
      <div class="row column">
        <%= f.select :granter_id,
                     options_from_collection_for_select(
                       granters_for_select,
                       :id,
                       :name,
                       selected: @delegation.granter_id
                     ),
                     autofocus: true %>
      </div>
      <div class="row column">
        <%= f.select :grantee_id,
                     options_from_collection_for_select(
                       grantees_for_select,
                       :id,
                       :name,
                       selected: @delegation.grantee_id
                     ) %>
      </div>
      <div class="row column">
        <%= f.select :decidim_action_delegator_setting_id,
                     options_from_collection_for_select(
                       settings_for_select,
                       :id,
                       :id
                     ) %>
      </div>
    </div>
  </div>

  <div class="button--double form-general-submit">
    <%= f.submit t(".save") %>
  </div>
<% end %>
