<% if current_user %>
    <!-- TODO: send ajax requests instead -->
  <% if session[:voted].present? %>
    You have voted in favor.
    <form action="/liquidvoting/votes" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="participant_email" value="<%= current_user.email %>">
      <input type="hidden" name="proposal_url" value="<%= proposal_url(proposal) %>">
      <input type="hidden" name="_method" value="delete">
      <input type='submit' value='Delete Vote' class="button">
    </form>
  <% else %>
    <form action="/liquidvoting/votes" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="participant_email" value="<%= current_user.email %>">
      <input type="hidden" name="proposal_url" value="<%= proposal_url(proposal) %>">
      <input type='submit' value='Vote in favor' class="button" style="background:green;width:100%">
    </form>
  <% end %>
<% end -%>
